.container {
  display: flex;
  min-width: 1000px;
  /* flex-direction: column; */
  justify-content: center;
  flex-wrap: wrap;
}
.grids {
  width: 150px;
  height: 100px;
  /* background-color: red; */
  border: 1px solid black;
}
