* {
  box-sizing: border-box;
}
.getGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 300px; */
  /* overflow: visible; */
  /* margin: 0 auto; */
}

.instructions {
  display: flex;
  flex-direction: column;
  width: 300px;
  /* border: 1px solid black; */
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem;
  box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.3);
}
.sizeInput {
  display: flex;
  justify-content: center;
}
.gridSize {
  width: 3rem;
  padding: 0.5rem 0.12rem;
  margin-right: 1.5rem;
}
#createGrid {
  margin: 1.5rem 0;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}
.container {
  display: flex;
  width: 100%;
  height: 960px;
  /* flex-direction: column; */
  justify-content: center;
  flex-wrap: wrap;
}
.grids {
  border: 1px solid black;
}
